<!-- <table class="table table-hover">
  <th>Pin</th>
  <th>Date</th>
  <th>Task</th>
  <th>Done</th>

  <ol class='simple_with_animation'>
    <li>
      <tr>
        <td>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </td>
        <td>18/05/2018</td>
        <td>x</td>
        <td>x</td>
      </tr>
    </li>
    <li>
      <tr>
        <td>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </td>
        <td>19/05/2018</td>
        <td>x</td>
        <td>x</td>
      </tr>
    </li>
    <li>
      <tr>
        <td>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </td>
        <td>20/05/2018</td>
        <td>x</td>
        <td>x</td>
      </tr>
    </li>
  </ol>
</table> -->
<h3>Important</h3>
<ol class="my_todo_app_star vertical">
  <li>
    <div class="panel panel-default panel-todo">
      <div class="panel-body">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-star pin-todo" aria-hidden="true"></span>
        </div>
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Item 1</div>
        <div class="col-md-3">Done</div>
      </div>
    </div>
  </li>
</ol>

<h3>My Todo</h3>
<ol class="my_todo_app vertical">
  <li>
    <div class="panel panel-default panel-todo">
      <div class="panel-body">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Item 1</div>
        <div class="col-md-3">Done</div>
      </div>
    </div>
  </li>
  <li>
    <div class="panel panel-default panel-todo">
      <div class="panel-body">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Item 2</div>
        <div class="col-md-3">Done</div>
      </div>
    </div>
  </li>
  <li>

    <div class="panel panel-default panel-todo">
      <div class="panel-body">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Item 3</div>
        <div class="col-md-3">Done</div>
      </div>
    </div>
  </li>
  <li>
    <div class="panel panel-default panel-todo">
      <div class="panel-body">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Item 4</div>
        <div class="col-md-3">Done</div>
      </div>
    </div>
  </li>
  <li>
    <div class="panel panel-default panel-todo">
      <div class="panel-body">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Item 5</div>
        <div class="col-md-3">Done</div>
      </div>
    </div>
  </li>
  <li>
    <div class="panel panel-default panel-todo">
      <div class="panel-body">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div class="col-md-2">Date</div>
        <div class="col-md-6">Item 6</div>
        <div class="col-md-3">Done</div>
      </div>
    </div>
  </li>
</ol>